*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol[class],
ul[class],
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
body.blog {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

input,
button,
textarea,
select {
  font: inherit;
  color: #ffffff;
}

button,
button:active,
button:hover,
button:focus {
  cursor: pointer;
  border: none;
  outline: none;
}

input,
input:active,
input:hover,
input:focus,
textarea,
textarea:active,
textarea:hover,
textarea:focus {
  border: none;
  outline: none;
}

button,
button:active,
button:hover,
button:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

[role='button'] {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'TT Commons', sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  background-color: #000000;
  background-image: url('./static/img/noize.png');
  overflow-x: hidden;
}

.section-title-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.container {
  max-width: 1240px;
  margin: 0 60px;
  position: relative;
  @media screen and (max-width: 1300px) {
    padding: 0 60px;
    margin: 0 auto;
  }
  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

.section-title {
  max-width: 400px;
}

.section-padding-top {
  padding-top: 96px;
  @media screen and (max-width: 992px) {
    padding-top: 75px;
  }
}

.section-padding-bottom {
  padding-bottom: 96px;
  @media screen and (max-width: 992px) {
    padding-bottom: 75px;
  }
}

.gradient-line {
  background: linear-gradient(
    0.25turn,
    rgba(255, 141, 162, 1),
    rgba(48, 111, 224, 1)
  );
  width: 100%;
  height: 1px;
}
