
//TT Commons

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-Thin.otf") format("otf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-ExtraLight.otf") format("otf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-Light.otf") format("otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-Medium.otf") format("otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-SemiBold.otf") format("otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "TT Commons";
  src: url("~/assets/fonts/TTCommons/TTCommons-ExtraBold.otf") format("otf");
  font-style: normal;
  font-weight: 800;
}

//Geometria

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-Thin.ttf") format("ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-ExtraLight.ttf") format("ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-Medium.ttf") format("ttf");
font-style: normal;
font-weight: 600;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria/Geometria-ExtraBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 800;
}
